[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=/home/cyborg/Documents/c_programing/PGEN/ico.png
Name=PGEN
Exec=/home/cyborg/Documents/c_programing/PGEN/exm
Terminal=false


